.legend{
    width: 250px !important;
    margin-left: -10% !important;
    background-color: #0f732e !important;
    font-size: 18px !important;
    border-radius: 30px !important;
    left: 48% !important;
}

.hide{
    display: none;
}