.light {
    --theme-color: #A80000;
    --theme-page-background:linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    --theme-page-text: #111;
}

.dark {
    --theme-color: #0000A8;
    --theme-page-background: #111;
    --theme-page-text: #FFF;
}

